[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "==0.6.3"
werkzeug = "==3.0.4"
requests = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
